* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #444444, #222222);
}

.jukeboxContainer {
    width: 95%;
    height: 95%;
    margin: 5%;
    padding: 20px;
    border-radius: 15px;
    background-color: #333333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.jukeboxContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #83aff0;
    text-shadow: 0 0 10px rgb(131, 175, 240);
}

.trackList {
    margin-bottom: 20px;
}

.trackButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #444444;
    color: #c1493e;
    text-shadow: 0 0 10px rgba(193, 73, 62, .8);
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.trackButton:hover {
    background-color: #666666;
}