:root {
    --projects: #c1493e;
}
[data-theme="starWars"] {
    --projects: #3d3d3d;
}
[data-theme="pumpkin"] {
    --projects: #4d3f34;
}
[data-theme="blue"] {
    --projects: #bf616a;
}
[data-theme="christmas"] {
    --projects: #2fa34f;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../images/fonts/MS\ Sans\ Serif.ttf") format("opentype"),
        url("../images/fonts/ms_sans_serif.woff2") format("woff2"),
        url("../images/fonts/ms_sans_serif.woff2") format("woff");
}
#projects {
    --windowMult: 1.75;
    scroll-margin-top: 2em;
}
#projects .windowTitleBar {
    background-color: var(--projects);
}
#projects .windowContent {
    padding: calc(20px * var(--windowMult));
}
#projects .windowTitleBar {
    margin: calc(16px * var(--windowMult)) 0;
    border-top: calc(1px * var(--windowMult)) solid #000;
    border-bottom: calc(1px * var(--windowMult)) solid #000;
}
#projects .windowOptionsBar {
    justify-content: space-between;
    height: calc(18px * (var(--windowMult) + 0.25));
}
#projects .windowOptionsBar #windowButtons {
    display: flex;
    gap: calc(1px * var(--windowMult));
    margin-right: calc(1px * var(--windowMult));
}
#projects .windowMinimize,
#projects .windowMaximize,
#projects .windowExit {
    cursor: pointer;
    width: calc(10px * (var(--windowMult) - 0.25));
    height: calc(10px * (var(--windowMult) - 0.25));
    border-color: #000;
}
#tabs {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.tab {
    font-family: "Pixelated MS Sans Serif";
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: calc(80px * var(--windowMult));
    border-right: calc(2px * var(--windowMult)) solid #000;
    background: #838a8d40;
}
.tab img {
    width: calc(12px * var(--windowMult));
}
.tab h5 {
    font-size: calc(10px * var(--windowMult));
}

.activeTab {
    background: #f0f0f0;
}
.activeTab::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(2px * var(--windowMult));
    bottom: calc(-2px * var(--windowMult));
    left: 0;
    background: #f0f0f0;
}