#pdfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 5%;
}

#pdfCanvas {
    box-shadow: 0 4px 20px #000000;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#pdfControls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 1.5%;
}

#zoomSelect {
    padding: 5px;
    border-radius: 4px;
    background-color: var(--navDark);
    color: var(--navLight);
    border: 2px solid #3f3f3f23;
}
#zoomSelect:hover {
    filter: brightness(0.9);
}

#downloadButton {
    padding: 5px;
    border-radius: 4px;
    background-color: var(--navDark);
    color: var(--navLight);
    border: 2px solid #3f3f3f23;
}
#downloadButton:hover {
    filter: brightness(0.9);
}

@media screen and (max-width: 1250px) {
    .footer {
        height: 80px;
    }
}