.iframeContainer {
    display: flex;
    flex-direction: column;
    height: 61vh;
}
iframe {
    flex-grow: 1;
    margin-top: 2%; 
    width: 100%; 
}

@media screen and (max-width: 1250px) { 
    .iframeContainer { 
        width: 90% ;
        margin: auto;
    }

    .footer {
        height: 80px;
    }
}

@media screen and (max-width: 750px) {
    iframe {
        zoom: 0.15;
    }
}