html body {
  background-color: #282828; 
  overflow-x: hidden; 
  overflow-y: hidden; 
  height: 100%;
  display: flex;
  flex-direction: column;
}
p, h1, h2, h3, h4, h5, h6 {
  color:  #e5e7eb;  
  font-family: "Source Sans 3", sans-serif;
}

hr, br {border-color: #83aff0}
b { color:#c1493e }

/* 
light blue- 83aff0
dark blue- 2c456b
*/

/*IDs*/

/*  INDEX PAGE */
#mainName {
  text-align: center;
  margin-top: 3.6%;
  margin-bottom: 1.7%;
  font-size: 250%;
}
#homeParagraph {
  height: auto;
  width: 75%;
  float: left;
  font-size: 1.25em;
  line-height: 2;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
}
#homeImage {
  display: flex;
  height: 48%;
  width: 25%;
  float: right;
  padding-right: 5%;
  margin-top: 3%;
  align-items: center;
}
#homeSmallLine {
  width: 93%;
  margin: auto;
}

/* 
NAV BAR

Lots of the css for the nav bar was found but I modified it
Found at: https://codepen.io/kiran-r-raj/pen/QWqpgPe
*/
*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containerNav {
  display: flex;
  justify-content: center;
  margin: 1.4%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  width: 700px;
  border-radius: 10px;
  background: #2c456b;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav--list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navItem {
  position: relative;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 4.6%;
  border: 2px solid #83aff0;
  overflow: hidden;
}
.navItem a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-transform: uppercase;
  color: #83aff0;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}
.navItem:hover a {
  color: #2c456b;
}
.navItem:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(0deg);
  background: #83aff0;
  transition: width 400ms ease;
}
.navItem:hover:before {
  width: 120%;
  transform: skew(0deg);
}
.navItemActive {
  position: relative;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 4.6%;
  border: 2px solid #83aff0;
  background-color:#83aff0;
  overflow: hidden;
}
.navItemActive a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-transform: uppercase;
  color: #2c456b;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

/* End of the nav */

/* CLASSES */
.subHeader {
  margin: .7%;
  text-align: center;
}
.nonHomeHeader {
  text-align: left;
  margin-top: 3%;
  margin-bottom: .5%;
  margin-left: 3%;
  font-size: 250%;
}

.mainContainer {
  height: calc(94vh - 10px);
  flex-grow: 1;
  width: 75%;
  margin: auto;
}

.footer {
    display:flex; 
    width: 100%; 
    height: 10px; 
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2%; 
}
.footer h6 {
  font-size: 70%;
  color: rgb(163, 163, 163)
}


/* MEDIA QUERRIES */

/* Media query for smaller screens */
@media screen and (max-width: 1400px) {
  html body {overflow-x: hidden; overflow-y: auto;}
  hr { width: 90%; margin:auto; }
   
  /* CONTENT SIZE ADJUSTMENTS */
  #homeImage {
    width: 0;
    height: 0;
    padding: 0;
  }
  #homeImage img {
    display: none;
  }
  #homeParagraph {
    width: 100%;
    height: auto;
  }
  .mainContainer {
    padding: 1%;
    width: 100%;
    height: auto;
  }
  #homeBigLine {  width: 80%; margin:auto; }
  #homeSmallLine { width: 73%;}
  #mainName { font-size: 200%;}
  .subHeader { font-size: 200%}
  .nonHomeHeader { 
    font-size: 220%; 
    margin-left: 7%;
  }
  .footer {
    height: 120px;
  }
}

/* ADJUSTING NAV BAR */
@media screen and (max-width: 750px) {
  .containerNav {
    position: sticky;
    z-index: 1000;
    top: 1%;
  }
  nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .nav--list {
    justify-content: space-evenly;
  }
  .navItem a {
    font-size: 13px;
  }
  .navItemActive a {
    font-size: 13px;
  }
  .nonHomeHeader { margin-top: 25px;}
  #mainName {
    margin-top: 45px;
  }
}
/* ADJUSTING NAV ITEMS MARGINS */
@media screen and (max-width: 630px) {
  .navItem {
    margin: 0 1%;
  }
  .navItemActive {
    margin: 0 1%;
  }
  #homeParagraph {
    margin-top: 30px;
  }
  .nonHomeHeader { margin-left: 0; text-align: center;}
}