:root {
    --links: #c1493e;
    --bio: #2c456b;
    --projects: #c1493e;
    --resume: #83aff0;
    --footer: #83aff0;

    --backgroundColor: #0b171d;
    --navDark: #2c456b;
    --navLight: #83aff0;
    --textMain: #e5e7eb;
    --textAlt: #a3a3a3;
    --textBold: #c1493e;
    --line: #c1493e;
}
[data-theme="starWars"] {
    --links: #3d3d3d;
    --bio: #ffe81f;
    --projects: #3d3d3d;
    --resume: #a3a3a3;
    --footer: #ffe81f;

    --backgroundColor: #000000;
    --navDark: #1a1a1a;
    --navLight: #3d3d3d;
    --textMain: #ffe81f;
    --textAlt: #a3a3a3;
    --textBold: #ffffff;
    --line: #3d3d3d;
}
[data-theme="pumpkin"] {
    --links: #d97a3d;
    --bio: #d97a3d;
    --projects: #4d3f34;
    --resume: #b08449;
    --footer: #d97a3d;

    --backgroundColor: #322f2c;
    --navDark: #b08449;
    --navLight: #4d3f34;
    --textMain: #f5f0e7;
    --textAlt: #d97a3d;
    --textBold: #d97a3d;
    --line: #b08449;
}
[data-theme="blue"] {
    --links: #bf616a;
    --bio: #88c0d0;
    --projects: #bf616a;
    --resume: #4c566a;
    --footer: #bf616a;

    --backgroundColor: #2e3440;
    --navDark: #88c0d0;
    --navLight: #4c566a;
    --textMain: #eceff4;
    --textAlt: #a3a3a3;
    --textBold: #bf616a;
    --line: #bf616a;
}
[data-theme="christmas"] {
    --links: #2fa34f;
    --bio: #b02a30;
    --projects: #2fa34f;
    --resume: #b02a30;
    --footer: #b02a30;

    --backgroundColor: #0f2027;
    --navDark: #b02a30;
    --navLight: #fddcdc;
    --textMain: #fdfdfd;
    --textAlt: #2fa34f;
    --textBold: #2fa34f;
    --line: #b02a30;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../images/fonts/MS\ Sans\ Serif.ttf") format("opentype"),
        url("../images/fonts/ms_sans_serif.woff2") format("woff2"),
        url("../images/fonts/ms_sans_serif.woff2") format("woff");
}

*,
::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body {
    background-color: var(--backgroundColor);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}

#mainContainer {
    flex-grow: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}
#linksBioContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    margin-top: 8%;
}

/* NAVIGATION WINDOW */
#navContainerOuter {
    --windowMult: 1.5;
    width: fit-content;
    height: fit-content;
    padding: calc(2px * var(--windowMult));
    background-color: #fff;
    margin-bottom: 4%;
}
#navContainer {
    width: calc(400px * var(--windowMult));
    background-color: #fff;
    border: calc(2px * var(--windowMult)) solid #000;
    position: relative;
    font-family: "MS Sans Serif", Arial, sans-serif;
}

/* NAV OPTIONS BAR */
#navOptionsBar {
    height: calc(14px * var(--windowMult));
    width: 100%;
    border-bottom: calc(2px * var(--windowMult)) solid #000;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: calc(1px * var(--windowMult));
}
#navMinimize,
#navMaximize,
#navExit {
    width: calc(10px * var(--windowMult));
    height: calc(10px * var(--windowMult));
    border-color: #000;
}
#navMinimize {
    background-color: orange;
}
#navMaximize {
    background-color: green;
}
#navExit {
    background-color: red;
    margin-right: calc(1px * var(--windowMult));
}

/* NAV TITLE BAR */
#navTitleBarContainer {
    display: flex;
    align-items: center;
    height: calc(30px * var(--windowMult));
    border-bottom: calc(2px * var(--windowMult)) solid #000;
}

.navTitleBarAccent {
    flex: 1;
    background-image: url("../images/icons/pattern.svg");
    background-repeat: repeat;
    background-position: 0 0;
    height: 100%;
    border-top: calc(5px * var(--windowMult)) solid #fff;
    border-bottom: calc(5px * var(--windowMult)) solid #fff;
}
#navTitleBar {
    height: 100%;
    flex: 0 0 auto;
    background-color: #fff;
    color: #000;
    padding: calc(4px * var(--windowMult)) calc(8px * var(--windowMult));
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(14px * var(--windowMult));
    letter-spacing: calc(0.5px * var(--windowMult));
    cursor: default;
}

/* NAV LIST */
#navListContainer {
    display: flex;
    justify-content: space-evenly;
    padding: calc(10px * var(--windowMult));
    line-height: 1.4;
    font-family: "Pixelated MS Sans Serif";
}
#navList {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
#navList li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-size: calc(10px * var(--windowMult));
}
#navList li a img {
    height: calc(30px * var(--windowMult));
    width: calc(30px * var(--windowMult));
}
#navList li a:hover {
    text-decoration: underline;
}
#active {
    text-decoration: underline;
}

/* WINDOW WINDOW */
#bio #musicSelector {
    position: absolute;
    left: -35px;
    top: -175px;
    width: auto;
    height: auto;
    background: var(--bio);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Pixelated MS Sans Serif";
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey,
        inset 2px 2px #fff;
    padding: 12px;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}
#bio #musicSelector h4 {
    display: flex;
    justify-content: center;
    margin-bottom: calc(2px * var(--windowMult));
}
#bio #musicSelector button {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(15.33px * var(--windowMult));
    min-width: calc(50px * var(--windowMult));
    padding: 0 calc(8px * var(--windowMult));
    font-family: "Pixelated MS Sans Serif";
    color: transparent;
    text-shadow: 0 0 #222;
    background: silver;
    box-shadow: inset calc(-0.67px * var(--windowMult)) calc(-0.67px * var(--windowMult)) #0a0a0a,
        inset calc(0.67px * var(--windowMult)) calc(0.67px * var(--windowMult)) #fff,
        inset calc(-1.33px * var(--windowMult)) calc(-1.33px * var(--windowMult)) grey,
        inset calc(1.33px * var(--windowMult)) calc(1.33px * var(--windowMult)) #dfdfdf;
}
#bio #musicSelector button:hover {
    transform: none;
    background: #d7d7d7;
    box-shadow: inset calc(-0.67px * var(--windowMult)) calc(-0.67px * var(--windowMult)) #555,
        inset calc(0.67px * var(--windowMult)) calc(0.67px * var(--windowMult)) #fff,
        inset calc(-1.33px * var(--windowMult)) calc(-1.33px * var(--windowMult)) #aaa,
        inset calc(1.33px * var(--windowMult)) calc(1.33px * var(--windowMult)) #efefef;
    text-shadow: 0 0 #222;
    cursor: pointer;
}
#bio #musicSelector button:active {
    box-shadow: inset calc(-0.67px * var(--windowMult)) calc(-0.67px * var(--windowMult)) #fff,
        inset calc(0.67px * var(--windowMult)) calc(0.67px * var(--windowMult)) #0a0a0a,
        inset calc(-1.33px * var(--windowMult)) calc(-1.33px * var(--windowMult)) #dfdfdf,
        inset calc(1.33px * var(--windowMult)) calc(1.33px * var(--windowMult)) grey;
    text-shadow: calc(0.67px * var(--windowMult)) calc(0.67px * var(--windowMult)) #222;
}

#bioContentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#customizeButtons {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: calc(10px * var(--windowMult));
    gap: calc(16px * var(--windowMult));
}
#customizeButtons button {
    border: none;
    transition: transform 0.3s ease;
}
#customizeButtons button:hover {
    transform: scale(1.3);
}
#bio #customizeButtons img {
    background: transparent;
    width: calc(25px * var(--windowMult));
    height: calc(25px * var(--windowMult));
}
#bio {
    --windowMult: 1.5;
    scroll-margin-top: 2em;
}
#projects {
    --windowMult: 1.5;
    scroll-margin-top: 2em;
}
#resume {
    --windowMult: 1.5;
    scroll-margin-top: 2em;
    margin-bottom: 0;
}
#links {
    --windowMult: 1.5;
}

.windowContainerOuter {
    width: fit-content;
    height: fit-content;
    padding: calc(2px * var(--windowMult));
    margin-bottom: 25%;
    background-color: #fff;
    border: calc(2px * var(--windowMult)) solid #000;
}
.windowContainer {
    width: calc(500px * var(--windowMult));
    height: auto;
    background-color: #f0f0f0;
    border: 4px solid #000;
    font-family: "MS Sans Serif", Arial, sans-serif;
}
#bio .windowContainer {
    display: flex;
    flex-direction: column;
    width: calc(550px * var(--windowMult));
    height: calc(250px * var(--windowMult));
}
#links .windowContainer {
    width: calc(150px * var(--windowMult));
    height: calc(200px * var(--windowMult));
}

/* WINDOW OPTIONS BAR */
.windowOptionsBar {
    height: calc(14px * var(--windowMult));
    width: 100%;
    border-bottom: calc(2px * var(--windowMult)) solid #000;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: calc(1px * var(--windowMult));
}
.windowMinimize,
.windowMaximize,
.windowExit {
    width: calc(10px * var(--windowMult));
    height: calc(10px * var(--windowMult));
    border-color: #000;
}
.windowMinimize {
    background-color: orange;
}
.windowMaximize {
    background-color: green;
}
.windowExit {
    background-color: red;
    margin-right: calc(1px * var(--windowMult));
}

/* WINDOW CONTENT */
.windowTitleBar {
    color: #fff;
    padding: calc(2px * var(--windowMult)) calc(4px * var(--windowMult));
    font-size: calc(12px * var(--windowMult));
    border-bottom: calc(2px * var(--windowMult)) solid #000;
    border-top: calc(1px * var(--windowMult)) solid #000;
    font-family: "MS Sans Serif", Arial, sans-serif;
}
#links .windowTitleBar {
    background-color: var(--links);
}
#bio .windowTitleBar {
    background-color: var(--bio);
}
#projects .windowTitleBar {
    background-color: var(--projects);
}
#resume .windowTitleBar {
    background-color: var(--resume);
}
.windowContent {
    margin: calc(10px * var(--windowMult));
    background: #fff;
    box-shadow: inset calc(-0.8px * var(--windowMult)) calc(-0.8px * var(--windowMult)) #fff,
        inset calc(0.8px * var(--windowMult)) calc(0.8px * var(--windowMult)) grey,
        inset calc(-1.6px * var(--windowMult)) calc(-1.6px * var(--windowMult)) #dfdfdf,
        inset calc(1.6px * var(--windowMult)) calc(1.6px * var(--windowMult)) #0a0a0a;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: calc(8.8px * var(--windowMult));
    padding: calc(4.8px * var(--windowMult));
    word-spacing: 0.4em;
}
#projects .windowConent {
    padding: calc(20px * var(--windowMult));
}
.windowContent img {
    width: calc(15px * var(--windowMult));
    height: calc(15px * var(--windowMult));
    
}
#bioTrees {
    display: flex; 
    flex-direction: row; 
    gap: 10%;
    margin-top: 2%; 
    margin-left: 5%;
}
#links .windowContent img {
    width: calc(30px * var(--windowMult));
    height: calc(30px * var(--windowMult));
}
#links a {
    text-decoration: none;
}
#links a:hover {
    text-decoration: underline;
}

/* TREE VIEW */
ul.treeView {
    display: block;
    margin: 0;
    -webkit-font-smoothing: none;
}
ul.treeView li {
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
ul.treeView li img {
    width: calc(10px * var(--windowMult));
    height: calc(10px * var(--windowMult));
}
ul.treeView li,
ul.treeView ul {
    margin-top: calc(2.4px * var(--windowMult));
}
ul.treeView ul {
    border-left: calc(0.8px * var(--windowMult)) dotted grey;
    margin-left: calc(12.8px * var(--windowMult));
    padding-left: calc(12.8px * var(--windowMult));
    list-style-type: circle;
    margin-block-start: 0;
    margin-block-end: 0;
}
ul.treeView ul > li {
    position: relative;
}
ul.treeView ul > li:before {
    border-bottom: calc(0.8px * var(--windowMult)) dotted grey;
    content: "";
    display: block;
    left: calc(-12.8px * var(--windowMult));
    position: absolute;
    top: calc(4.8px * var(--windowMult));
    width: calc(9.6px * var(--windowMult));
}
ul.treeView ul > li:last-child:after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: calc(-16px * var(--windowMult));
    position: absolute;
    top: calc(5.6px * var(--windowMult));
    width: calc(6.4px * var(--windowMult));
}

@media (max-width: 1380px) {
    #navContainerOuter {
        margin-bottom: 0;
    }
    #linksBioContainer {
        flex-direction: column;
    }
    .windowContainerOuter {
        margin-bottom: 8%;
    }
}
@media (max-width: 900px) {
    #mainContainer {
        width: 100%;
        padding: 2%;
    }
    #bio .windowContainer {
        width: fit-content;
        height: fit-content;
    }
    #projects .windowContent {
        padding: 8% 0;
    }
    #resume .windowContent {
        padding: 4% 0;
    }
    .windowContainer {
        width: auto;
    }
    .windowContent {
        width: auto;
    }
    #bioTrees {
        flex-direction: column;
    }
}
@media (max-width: 650px) {
    #navContainerOuter {
        width: 100%;
    }
    #navContainer {
        width: 100%;
    }
}