/* Default Theme */
:root {
  --backgroundColor: #282828;
  --navDark: #2c456b;
  --navLight: #83aff0;
  --textMain: #e5e7eb;
  --textAlt: #a3a3a3;
  --textBold: #c1493e;
  --line: #83aff0;
}
[dataTheme="light"] {
  --backgroundColor: #e6e6e6;
  --navDark: #657899;
  --navLight: #a8c5f7;
  --textMain: #1e293b;
  --textAlt: #a3a3a3;
  --textBold: #d75c53;
  --line: #a8c5f7;
}
[dataTheme="pumpkin"] {
  --backgroundColor: #322f2c;
  --navDark: #b08449;
  --navLight: #4d3f34;
  --textMain: #f5f0e7;
  --textAlt: #a3a3a3;
  --textBold: #d97a3d;
  --line: #b08449;
}
[dataTheme="blue"] {
  --backgroundColor: #2e3440;
  --navDark: #88c0d0;
  --navLight: #4c566a;
  --textMain: #eceff4;
  --textAlt: #a3a3a3;
  --textBold: #bf616a;
  --line: #bf616a;
}
[dataTheme="lightMode"] {
  --backgroundColor: #e6e6e6;
  --navDark: #657899;
  --navLight: #a8c5f7;
  --textMain: #1e293b;
  --textAlt: #a3a3a3;
  --textBold: #d75c53;
  --line: #a8c5f7;
}


html body {
  background-color: var(--backgroundColor); 
  overflow-x: hidden; 
  overflow-y: auto; 
  height: 100%;
  display: flex;
  flex-direction: column;
}
p, h1, h2, h3, h4, h5, h6 {
  color:  var(--textMain);  
  font-family: "Source Sans 3", sans-serif;
}

hr, br {border-color: var(--line); }
b { color: var(--textBold); }

/*IDs*/

/*  INDEX PAGE */
#mainName {
  text-align: center;
  margin-top: 3.6%;
  margin-bottom: 1.7%;
  font-size: 250%;
}
#homeParagraph {
  height: auto;
  width: 75%;
  float: left;
  font-size: 1.25em ;
  line-height: 2;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
}
#homeImage {
  display: flex;
  flex-direction: column;
  height: 48%;
  width: 24%;
  float: right;
  padding-right: 5%;
  margin-top: 4.5%;
  align-items: center;
  justify-content: center;
}
#joke {
  margin-top: 12%;
  text-align: center;
  color: var(--textAlt);
  font-family: 'Coda';
  font-size: .9em;
}
#homeSmallLine {
  width: 93%;
  margin: auto;
}

/* 
NAV BAR

Lots of the css for the nav bar was found, but then modified
Found at: https://codepen.io/kiran-r-raj/pen/QWqpgPe
*/
*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containerNav {
  display: flex;
  justify-content: center;
  margin: 1.4%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  width: 700px;
  border-radius: 10px;
  background: var(--navDark);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px -5px;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav--list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0 3% 0 3%;
}
.navItem {
  position: relative;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 4.6%;
  border: 2px solid var(--navLight);
  overflow: hidden;
}
.navItem a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--navLight);
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}
.navItem:hover a {
  color: var(--navDark);
}
.navItem:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(0deg);
  background: var(--navLight);
  transition: width 400ms ease;
}
.navItem:hover:before {
  width: 120%;
  transform: skew(0deg);
}
.navItemActive {
  position: relative;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 4.6%;
  border: 2px solid var(--navLight);
  background-color: var(--navLight);
  overflow: hidden;
}
.navItemActive a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--navDark);
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

/* End of the nav */

/* CLASSES */
.subHeader {
  margin: .7%;
  text-align: center;
}
.nonHomeHeader {
  text-align: left;
  margin-top: 3%;
  margin-bottom: .5%;
  margin-left: 3%;
  font-size: 250%;
}

.mainContainer {
  height: auto;
  flex-grow: 1;
  width: 1500px;
  margin: auto;
  padding-top: .5%;
}

/* FOOTER STYLING */
.footer {
  width: 1350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  background-color: var(--backgroundColor);
  color: var(--textAlt);
}
.footer h6 {
    margin-top: 15px;
    font-size: 70%;
    color: var(--textAlt);
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.iconLinks {
  display: flex;
  gap: 20px;
}
.footerIcon {
  width: 25px; 
  height: 25px;
  transition: transform 0.3s ease; 
}
.footerIcon img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  transition: transform 0.3s ease;
  background-color: var(--backgroundColor);
}
.footerIcon:hover img {
  transform: scale(1.2);  
}


/* MEDIA QUERRIES */

/* Media query to edit main paragraph margin */
@media screen and (max-width: 1600px) {
  .mainContainer {
    width: 93.75%;
  }
  .footer {
    width: 84.375%;
  }
}
/* Media query for smaller screens */
@media screen and (max-width: 1250px) {
  hr { width: 90%; margin:auto; }
   
  /* CONTENT SIZE ADJUSTMENTS */
  #homeImage {
    width: 0;
    height: 0;
    padding: 0;
  }
  #homeImage img {
    display: none;
  }
  #joke {
    display: none;
  }
  #homeParagraph {
    width: 100%;
    height: auto;
  }
  .mainContainer {
    width: 100%;
    height: auto;
  }
  #homeBigLine {  width: 80%; margin:auto; }
  #homeSmallLine { width: 73%;}
  #mainName { font-size: 200%;}
  .subHeader { font-size: 200%}
  .nonHomeHeader { 
    font-size: 220%; 
    margin-left: 7%;
  }
  .footer {
    width: 87.5%;
  }
}

/* ADJUSTING NAV BAR */
@media screen and (max-width: 750px) {
  .containerNav {
    position: sticky;
    z-index: 1000;
    top: 1%;
  }
  nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .nav--list {
    justify-content: space-evenly;
  }
  .navItem a {
    font-size: 16px;
  }
  .navItemActive a {
    font-size: 16px;
  }
  .nonHomeHeader { margin-top: 25px;}
  #mainName {
    margin-top: 45px;
  }
}
/* ADJUSTING NAV ITEMS MARGINS */
@media screen and (max-width: 630px) {
  #homeParagraph {
    font-size: 1.1em;
  }
  .navItem {
    margin: 0 1%;
  }
  .navItemActive {
    margin: 0 1%;
  }
  #homeParagraph {
    margin-top: 30px;
  }
  .nonHomeHeader { margin-left: 0; text-align: center;}
  .nav--list {  margin: 0;}
  .footerIcon {
    width: 20px;
    height: 20px;
  }
  .footer h6 { font-size: 52.5%;}
}