/* CREDIT FOR THIS CODE GOES TO: https://github.com/nickarocho/minesweeper */
@font-face {
    font-family: "Digital Dismay";
    src: url("/images/fonts/digital-dismay.otf") format("truetype");
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 400;
    src: url("/images/fonts/MS Sans Serif.ttf") format("opentype"),
        url("/images/fonts/ms_sans_serif.woff2") format("woff2"),
        url("/images/fonts/ms_sans_serif.woff2") format("woff");
}

.board {
    background-color: lightgray;
    width: calc(163.33px * var(--windowMult));
}

.clock {
    font-family: "Pixelated MS Sans Serif", "MS Sans Serif";
    font-size: calc(9.33px * var(--windowMult));
    display: inline;
    float: right;
    border-top: calc(1px * var(--windowMult)) solid #808080;
    border-left: calc(1px * var(--windowMult)) solid #808080;
    border-right: calc(1px * var(--windowMult)) solid #fafafa;
    border-bottom: calc(1px * var(--windowMult)) solid #fafafa;
    width: calc(133.33px * var(--windowMult));
    height: calc(14.67px * var(--windowMult));
    margin: calc(1.33px * var(--windowMult));
    padding: calc(3.33px * var(--windowMult));
}

.menu a {
    font-family: "Pixelated MS Sans Serif", "MS Sans Serif";
    color: black;
    text-decoration: none;
    font-size: calc(9.33px * var(--windowMult));
    letter-spacing: 0;
}

.reset {
    text-align: center;
    width: calc(23.33px * var(--windowMult));
    height: calc(23.33px * var(--windowMult));
    border-top: calc(1.33px * var(--windowMult)) solid #ffffff;
    border-right: calc(1.33px * var(--windowMult)) solid #7b7b7b;
    border-bottom: calc(1.33px * var(--windowMult)) solid #7b7b7b;
    border-left: calc(1.33px * var(--windowMult)) solid #ffffff;
}
.reset img {
    width: 100%;
    height: 100%;
}

.revealed {
    font-family: "Pixelated MS Sans Serif", "MS Sans Serif";
    background-color: silver;
    font-size: 80%;
    text-align: center;
    border: none;
}

.reset:hover {
    text-align: center;
    cursor: pointer;
}

.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: calc(1.33px * var(--windowMult));
    margin: calc(4px * var(--windowMult));
    border-top: calc(1.33px * var(--windowMult)) solid #7b7b7b;
    border-right: calc(1.33px * var(--windowMult)) solid #ffffff;
    border-bottom: calc(1.33px * var(--windowMult)) solid #ffffff;
    border-left: calc(1.33px * var(--windowMult)) solid #7b7b7b;
}

td {
    height: calc(13.33px * var(--windowMult));
    width: calc(13.33px * var(--windowMult));
    background-color: silver;
    border: calc(1px * var(--windowMult)) solid;
    border-top-color: #ffffff;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    border-left-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.timer,
.bomb-counter {
    font-family: "Digital Dismay";
    font-size: calc(23.33px * var(--windowMult));
    letter-spacing: calc(0.67px * var(--windowMult));
    color: red;
    background-color: black;
    text-align: center;
    padding: calc(2.67px * var(--windowMult)) calc(2.67px * var(--windowMult)) 0
        calc(4.67px * var(--windowMult));
    line-height: 1em;
}

