:root {
    --resume: #83aff0;
}
[data-theme="starWars"] {
    --resume: #a3a3a3;
}
[data-theme="pumpkin"] {
    --resume: #b08449;
}
[data-theme="blue"] {
    --resume: #4c566a;
}
[data-theme="christmas"] {
    --resume: #b02a30;
}

#resume {
    --windowMult: 1.5;
    scroll-margin-top: 2em;
    margin-bottom: 0;
}
#resume .windowContainer {
    width: calc(600px * var(--windowMult));
}
#resume .windowTitleBar {
    background-color: var(--resume);
}
#pdf {
    width: 100%;
    height: auto;
    aspect-ratio: 8.5 / 11.25;
    object-fit: contain; 
}  
